@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --light-white-color: #f0f0f0;
    --light-gray-color: #e5e5e5;
    --border-color: #d4d4d4;
    --primary-color: #3b83f6;
    --secondary-color: #404040;
    ---overlay-dark-color: rgba(0, 0, 0, 0.6);
}

body.dark-mode {
    --white-color: #171717;
    --black-color: #d4d4d4;
    --light-white-color: #333;
    --light-gray-color: #404040;
    --border-color: #737373;
    --primary-color: #3b83f6;
    --secondary-color: #d4d4d4;
    ---overlay-dark-color: rgba(0, 0, 0, 0.6);
}

body {
    background-color: var(--white-color);
}

.container {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}
header .category-list {
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--white-color);
}

.navbar {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.nav-section, .search-form, .nav-logo {
    display: flex;
    align-items: center;
}
.container:where(.logo-image, .user-image) {
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #000;
}
.container .nav-section {
    gap: 1rem;
}
.container .nav-button {
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: none;
}
.container .nav-button:hover {
    background: var(--light-gray-color);
}
.container .nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
.container .nav-logo {
    display: flex;
    gap: 0.5rem;
    text-decoration: none;
}
.container .nav-logo .logo-text {
    font-size: 1.25rem;
    color: var(--black-color);
}
.navbar .search-form .search-input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    border-radius: 3.1rem 0 0 3.1rem;
    padding: 0 1rem;
    border: 1px solid var(--border-color);
    color: var(--black-color);
    background-color: var(--white-color);
}
.navbar .nav-center {
    display: flex;
}
.navbar .search-form {
    width: 550px;
    flex: 1;
    height: 40px;
}
.navbar .search-form .search-button {
    width: auto;
    padding: 0 1.25rem;
    border-radius: 0 3.1rem 3.1rem 0;
    border: 1px solid var(--border-color);
    border-left: 0;
}
.navbar .nav-center .search-button {
    display: flex;
}

.nav-button.deactivated {
    display: none;
}




.main-layout {
    display: flex;
    overflow-y: auto;
}
.main-layout .sidebar {
    width: 280px;
    padding: 0 0.7rem 0;
    background: var(--white-color);
}
body.sidebar-hidden .main-layout .sidebar {
    width: 0;
    padding: 0;
    opacity: 0;
}
.main-layout .sidebar .nav-left {
    display: none;
    padding: 0.5rem 0.3rem;
}
.sidebar .link-container {
    width: 280px;
    overflow-y: auto;
    height: calc(100vh - 60px);
    scrollbar-width: thin;
    padding: 1rem 0 2rem;
    scrollbar-color: transparent transparent;
}
.sidebar .link-container:hover {
    scrollbar-color: #a6a6a6 transparent;
}
.sidebar .link-section .link-item {
    display: flex;
    align-items: center;
    font-size: 0.938rem;
    white-space: nowrap;
    padding: 0.37rem 0 0.75rem;
    margin-bottom: 0.75rem;
    color: var(--black-color);
    border-radius: 0.5rem;
    text-decoration: none;
}
.sidebar .link-section .link-item:hover {
    background: var(--light-gray-color);
}
.sidebar .link-section .link-item i {
    font-size: 1.4rem;
    margin-right: 0.63rem;
    margin-left: 0.63rem;
}
.sidebar .link-section .section-title {
    font-size: 0.938rem;
    font-weight: 600;
    color: var(--black-color);
    margin: 1rem 0 0.5rem 0.5rem;
}
.sidebar .section-separator {
    height: 1px;
    margin: 0.625rem 0;
    background: var(--light-gray-color);
}
.main-layout .contant-wrapper {
    padding: 0 1rem;
    overflow-x: hidden;
    width: 100%;
}
.contant-wrapper .category-list {
    display: flex;
    gap: 0.75rem;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 0.75rem 0 0.7rem;
}
.category-list .category-button {
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    white-space: nowrap;
    padding: 0.4rem 0.75rem;
    border-radius: 0.5rem;
    background-color: var(--light-gray-color);
}
.category-list .category-button.active {
    color: var(--white-color);
    background-color: var(--black-color);
    pointer-events: none;
}
.category-list .category-button:hover {
    background: var(--border-color);
}
.contant-wrapper .video-list {
    display: grid;
    gap: 1rem;
    padding: 1.25rem 0 4rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.video-list .video-card {
    text-decoration: none;
}
.video-list .video-card .video-info {
    display: flex;
    gap: 0.7rem;
    padding: 0.7rem 0.5rem;
}
.video-list .video-card .thumbnail-container {
    position: relative;
}
.video-list .video-card .thumbnail {
    width: 100%;
    border-radius: 0.5rem;
    aspect-ratio: 16 / 9;
}
.video-list .video-card .duration {
    position: absolute;
    right: 0.65rem;
    bottom: 0.8rem;
    color: #fff;
    font-size: 0.875rem;
    padding: 0 0.3rem;
    border-radius: 0.3rem;
    background: var(---overlay-dark-color);
}
.video-list .video-card .icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.video-list .video-card .title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--black-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.video-list .video-card .title:hover {
    color: var(--primary-color);
}
.video-list .video-card p {
    font-size: 0.875rem;
    color: var(--secondary-color);
}
.video-list .video-card .channel-name {
    margin: 0.25rem 0 0.15rem;
    display: flex;
    align-items: center;
}
.checked-channel {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

/* Adaptive for small devices */
@media (max-width: 768px) {
    .navbar .nav-center {
        display: none;
    }
    .navbar .nav-right .search-button {
        display: block;
    }
    .main-layout .screen-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 15;
        background: var(---overlay-dark-color);
        transition: all 200ms ease;
    }
    body.sidebar-hidden .screen-overlay {
        opacity: 0;
        pointer-events: none;
    }
    .main-layout .sidebar {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 20;
        height: 100vh;
        transition: all 200ms ease;
    }
    body.sidebar-hidden .main-layout .sidebar {
        left: -280px;
    }
    .main-layout .sidebar .nav-left {
        display: flex;
    }
}